    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><font color="#000000">自我介绍</font></h2>
                <p><font color="#000000">这里是涼月ゆき(之前叫夜导ing来着)。</font><br /><font color="#000000">一个什么都想做的奇怪的家伙。</font><br /><font color="#000000">现实中高中狗一只。</font><br /><font color="#000000">百度newgame吧吧主。</font><br /><font color="#000000">硬核萌豚、LLer，京蜜。</font><br /><font color="#000000">正在努力学习英语和霓虹语中。</font><br /><font color="#000000">你可以在许多地方找到我，欢迎来找我玩!</font>
                    <body background="http://www.w3school.com.cn/clouds.gif">
            </div>
        </div>
    </section>
