    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>下载Adobe相关插件</h2>
                    <p>点击下面的链接来下载整理好的常用Adobe插件</p>
                    <a href="https://u16789225.ctfile.com/dir/16789225-27357926-9c81df/" class="btn btn-default btn-lg">进入下载页面</a>
                </div>
            </div>
        </div>
    </section>